<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html" charset="ISO-8859-1">
<title>Welcome to Communal Appliances/Tool Sharing Application</title>
 <link href="css/bootstrap.css" rel="stylesheet" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="lib/angular.js"></script>
<script src="lib/angular-messages.js"></script>
<script src="js/ApplianceRegistration.js"></script>
<script src ="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.2.1/angular-material.js"></script>
<script src ="lib/angular-animate.js"></script>
<script src ="lib/angular-aria.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
<link href="css/main.css" rel="stylesheet" />
</head>
<body ng-app="appliance">
<div class="header1">
	<h1>
		Communal Appliance Sharing Network
		<div class="header1-right">
 		<a class="hover" href="profile.html" onclick="location.href=this.href+'?username='+userName;return false;"> <i class="fa fa-user" aria-hidden="true"></i>Profile</a>
		&nbsp;
 		<a class="hover" href="notification.html" onclick="location.href=this.href+'?username='+userName;return false;"> <i class="fa fa-bell" aria-hidden="true"></i>Notification</a>
   		&nbsp;
 		<a class="hover" href="#contact"><i class="fa fa-address-book-o" aria-hidden="true"></i>Contact Us</a>
    	<a class="active" href="index.html"><i class="fa fa-sign-out"></i>Logout</a>
  		</div>
  </h1>
</div>
<div>
	<h2 class="header2">Appliance Registration</h2>
	<form name="form1" action="/ApplianceRegistrationService.java" method="post"> 
  		<label for="username">Username </label>
  			<input type="text" id="username" name="username" placeholder= "Username" size="15" ng-model="username" required><br>
 		<label for="appliance_name">Item Name </label>   
			<input type="text" id="appliance_name" name="appliance_name" placeholder= "Item Name" size="15" ng-model="appliance_name" required><br>
		<label for="appliance_desc">Item Description </label> 
  			<input type="text" id="appliance_desc" name="appliance_desc" placeholder="Item Description" size="15" ng-model="appliance_description" required><br>  
  		
  		<label for="available_from_dt">Available From </label>
			<input type="date" id="available_from_dt" name="available_from_dt" ng-model="available_from_dt" required>
			<br><br><br>
 		<label for="available_to_dt">Available To </label>
   			<input type="date" id="available_to_dt" name="available_to_dt" ng-model="available_to_dt" required/><br><br><br>
   		<label for="price_per_day">Price Per Day </label>
  			<input type="number" id="price_per_day" name="price_per_day" placeholder="$0.00" maxlength="5" size="5" ng-model="price_per_day" required><br><br>
		 
			  <aside>
  				<h4>Terms & Conditions</h4>
  					<p>I hereby agree to all terms and conditions of Communal Appliance Borrower application.</p>
			</aside>
				<input type="radio" id="agree" name="termsconditions" value="agree">
				  <label for="agree">agree </label><br>
 				<input type="radio" id="disagree" name="termsconditions" value="disagree">  
					<label for="disagree">disagree </label>
		<input type="submit" value="LEND">
	</form>
</div>
</body>
</html>
