@charset "ISO-8859-1";

.buttonwrapper {
    display:inline-block;
}

input,
button {
    background-color:transparent;
    border:0;
}

.input-container{
    width: 250px;
    border: 1px solid #a9a9a9;
    display: inline-block;
}
.input-container input:focus, .input-container input:active {
    outline: none;
}
.input-container input {
    width: 80%;
    border: none;
}

.input-container button {
    float: right;
}

input[type=button], input[type=submit], input[type=reset], .button {
	background-color: #4CAF50;
	border: none;
	color: white;
	font-size: 20px;
	padding: 8px 120px;
	text-decoration: none;
	margin: 3px 20px 10px 120px;
	cursor: pointer;
	border: 2px solid green;
	border-radius: 4px;
}

.disableButton{
    opacity: 0.35; 
    background: #eee;
    color: #444;
}
input[type=text], input[type=number], input[type=address], textarea,
	input[type=password], input[type=tel], input[type=email] {
	width: 60%;
	padding: 12px 200px;
	margin: 3px 20px 10px 120px;
	box-sizing: border-box;
	border: 2px solid green;
	border-radius: 4px;
}

label {
	float: left;
	width: 10%;
	margin-left: 20px;
	margin-right: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}

form {
	margin-top: 5px;
}

.column {
	float: left;
	width: 40%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.header1 {
	padding: 20px;
	text-align: center;
	color: white;
	font-size: 30px;
	overflow: hidden;
	background-color: black;
}

.header2 {
	padding: 60px 60px;
	text-align: left;
	color: rgb(0, 0, 0);
	font-size: 30px;
	overflow: hidden;
	background-color: white;
}

.header1 a {
	float: left;
	color: green;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

.header1 a.logo {
	font-size: 25px;
	font-weight: bold;
}

.header1 a:hover {
	background-color: black;
	color: white;
}

.header1 a.active {
	background-color: green;
	color: white;
}

.header1-right {
	float: right;
}
/*!.ng-invalid {
    border-color: red;
    outline-color: red;
}*/

.ng-valid {
    border-color: green;
    outline-color: green;
}

.messages {
  font-size: smaller;
  padding-top: 5px;
  padding-bottom: 10px;
  color: red;
}
span{ 
         color: red; 
         font-size: smaller;
         padding-top: 5px;
  		 padding-bottom: 10px;
 }  
 
 md-dialog{
max-width: 500px;
}
 
 